:root {
	/* system */
	--colour-black: #0a0f0d;
	--colour-white: #fff;

	/* greys */
	--colour-grey-300: #d1d1d1;
	--colour-grey-400: #a7a7a7;
	--colour-grey-800: #494b50;
	--colour-grey-900: #2e3138;
}

/* A modern CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
	list-style-type: disc;
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	line-height: 1.8;
	min-height: 100vh;
	text-rendering: optimizespeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	color: var(--colour-black);
	text-decoration-color: var(--colour-grey-300);
	text-decoration-skip-ink: auto;

	&:hover,
	&:focus-visible {
		text-decoration-color: var(--colour-black);
	}
}

/* Make images easier to work with */
img,
picture {
	display: block;
	max-width: 100%;
}

/* Form controls accent (PE) */
form {
	accent-color: var(--colour-black);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;

	&:focus-visible {
		outline: var(--colour-black) auto 1px;
	}
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	/* stylelint-disable */
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
	/* stylelint-enable */
}

/* Base defaults for headings etc */

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Skip navigation link */

.skip-link {
	background: var(--colour-black);
	color: var(--colour-white);
	left: 50%;
	position: absolute;
	text-decoration: none;
	transform: translate(-50%, -200%);
	transition: transform 0.3s;
	z-index: 4;

	&:focus {
		background-color: var(--colour-grey-900);
		box-shadow: 0 0 0 1px var(--colour-black),
			inset 0 0 0 3px var(--colour-white);
		outline: none;
		transform: translate(-50%, 0);
	}
}

@media only screen and (max-width: 64rem) {
	.hide-mobile {
		display: none;
	}
}

@media only screen and (min-width: 64rem) {
	.hide-desktop {
		display: none;
	}
}
